header{
    nav{
        display: flex;
        background-color: rgb(0, 162, 255);
        justify-content: space-between;
        .heading{
            margin: 10px;
            a{
                // background-color: ;
                // padding: 10px;
                font-size: 1.5rem;
                color: white;
                text-decoration: none;
                // display: flex;
                font-weight: bolder;
            }
        }
        .auth-link{
            ul{
                display: flex;
                margin: 4% 5px;
                li{
                    list-style: none;
                    a{
                        text-decoration: none;
                        color: white;
                        margin-right: 12px;
                        font-size: large;
                        font-weight: bold;
                    }
                }
            }
            
        }
    }
}